html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
}

#root {
  height: 100%;
}
