.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,

    #ff4500,
    #ff2b03,
    #ff3206,
    #ff3809,
    #ff3f0e,
    #ff4d14,
    #ff5a1a,
    #ff6a1f,
    #ff7a1f,
    #ff8c1a,
    #f90,
    #ffa31a,
    #ffad33,
    #ffb84d,
    #ffc266,
    #ffcc80,
    #ffd699
  );
  width: 100%;
}

.card {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  text-align: center;

  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
  width: 100px;
  height: 100px;
}
